<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <ul class="navbar-nav">
        <li class="navbar-brand">
            <a class="nav-link" href="/">BLOG</a>
        </li>

        <li class="navbar-brand">
            <a class="nav-link" href="/">Página Inicial</a>
        </li>

        <li class="navbar-brand dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/adm/categories/new">Cadastrar Categoria</a>
                <a class="dropdown-item" href="/adm/articles/new">Criar Artigo</a>
            </div>
        </li>      

        <li class="navbar-brand dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exibir
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/adm/categories">Categorias Cadastradas</a>
                <a class="dropdown-item" href="/adm/articles">Artigos Criados</a>
            </div>
        </li> 
    </ul>
</nav>




