
<!--justify-content-center-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">  
                <ul class="navbar-nav">
                  <a class="nav-link" href="/"><img src="/img/WM.png" width="40rm"></a>

                  <li class="navbar-brand">
                    <a class="nav-link" href="/">Página Inicial</a>
                  </li>
  
                  <li class="navbar-brand dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <% categories.forEach(category => { %>
                                <a class="dropdown-item" href="/category/<%= category.slug %> "><%= category.title %></a>
                            <% });%> 
                        </div>
                  </li>  
  
                  <li class="navbar-brand dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
                      role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Usuário
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/adm/categories">Login</a>
                      </div>
                  </li> 

                  
                </ul>
                <ul class="navbar-nav">
                  <li class="navbar-brand">
                    <a class="nav-link" href="/logout">Logout</a>
                  </li>
                </ul>
                  
            </nav>
