<%- include('../../partials/header.ejs') %> 
<%- include('../../partials/navbar.ejs') %> 

<div class="container">
    <div class="row justify-content-center align-items-center">
    <div class="card text-center mt-5 " style="width: 30%;">
        <div class="card-header">
            Criar conta
        </div>
        <div class="card-body" >
            <form action="/users/create" method="POST">
                <label for="">Endereço de email</label>
                <input class="form-control" type="email" name="email" placeholder="seuemail@exemplo.com">
                <br>
                <label for="">Senha</label>                
                <input type="password" name="password" placeholder="***********" style="width: 100%;">
                <br>
                <br>
                <button type="submit" class="btn btn-success btn-block">Criar</button>
            </form>
        </div>
    </div>
  </div>
</div>
<%- include('../../partials/footer.ejs') %> 